.anime {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: move 5s reverse linear 2 backwards;
}

@keyframes move {
    0% {
        background-color: red;
        top: 0;
        left: 0;
    }
    25% {
        background-color: black;
        top: 0;
        left: 200px;

    }
    50% {
        background-color: yellow;
        top: 200px;
        left: 200px;
    }

    75% {
        background-color: blue;
        top: 200px;
        left: 0;
    }
    100% {
        background-color: purple;
        top: 0;
        left: 0;
    }
}